.registration-form {
    background-color: blanchedalmond;
}
  
.registration-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .registration-form {
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
  }
  .registration-form label {
    display: block;
    margin-bottom: 8px;
  }
  body{
	background: url(https://mmc.kalteng.go.id/files/berita/12112018075021_0.jpg);
	color: black;
}
  